/*==============================GLOBAL STYLES==============================*/
body {
	min-width: 1200px;
	margin: 0;
	padding: 0;

	font-family: "Open Sans", Arial, sans-serif;
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;
	color: #283645;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

a:hover {
	cursor: pointer;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 130px;
}

.button {
	display: inline-block;

	font-family: "Open Sans", Arial, sans-serif;
	font-size: 21px;
	line-height: 18px;
	font-weight: 700;
}


/*==============================HEADER STYLES==============================*/
.main-header {
	padding-bottom: 110px;

	background-image: url("../img/main-bg.jpg");
	background-size: 1200px auto;
	background-position: top center;
	background-repeat: no-repeat;
}

.main-navigation {
	position: relative;
	display: flex;
	justify-content: space-around;
	width: 1200px;
	margin-bottom: 110px;
	padding:0;

	font-size: 18px;
	line-height: 18px;
	color: #ffffff;

	background-color: rgba(0, 0, 0, 0.3);
}

.main-navigation::after {
	position: absolute;
	content: "";
	right: 169px;
	top: 209px;

	width: 557px;
	height: 645px;
	background-image: url(../img/hand-with-phone.png);
	background-repeat: no-repeat;
}

.main-header-logo {
	width: 147px;
	height: 40px;
	margin-top: 27px;
	margin-left: 44px;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 620px;
	margin: 0;
	margin-right: 41px;
	padding: 0;
	list-style: none;
}

.site-navigation li,
.site-navigation-current {
	position: relative;
}

.site-navigation a,
.site-navigation .active-page {
	display: block;
	padding-top: 45px;
	padding-bottom: 47px;
	vertical-align: middle;
	color: #ffffff;
}

.site-navigation li {
	margin-right: 78px;
}

.site-navigation li:nth-child(4n+0) {
	margin-right: 0;
}

.site-navigation a:hover {
	color: #ffffff;
}

.site-navigation a:hover::after {
	content: "";

	position: absolute;
	right: 0px;
	bottom: 31px;
	left: 0px;

	height: 2px;

	background-color: #ffffff;
}

.site-navigation a:active {
	color: rgba(255, 255, 255, 0.3);
}

.site-navigation a:active::after {
	content: none;
}

.site-navigation .active-page:hover {
	color: #d22856;
}

.site-navigation .active-page:hover::after {
	content: "";

	position: absolute;
	right: 0px;
	bottom: 31px;
	left: 0px;

	height: 2px;

	background-color: #d22856;
}

.site-navigation .active-page:active {
	color: rgba(255, 255, 255, 0.3);
}

.site-navigation .active-page:active::after {
	content: none;
}


/*==============================MAIN STYLES==============================*/
.promo {
	min-height: 632px;
	margin-bottom: 70px;
}

.promo-content {
	position: relative;
	width: 302px;
}

.promo-title {
	margin: 0;
	margin-bottom: 53px;
	padding: 0;
	text-align: center;

	font-family: "Open Sans", Arial, sans-serif;
	font-size: 50px;
	line-height: 59px;
	font-weight: 300;
	color: #ffffff;
}

.download-button {
	margin-bottom: 70px;
	padding: 16px 30px;
	text-align: center;

	color: #ffffff;

	vertical-align: middle;

	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 30px;
}

.download-button:hover {
	color: #d22856;

	background-color: #ffffff;
	transition: 0.3s ease-in-out;
}

.download-button:active {
	color: rgba(210, 40, 86, 0.3);

	background-color: #ffffff;
}

.promo-details {
	width: 206px;
	margin: 0 auto;
	margin-bottom: 47px;
	text-align: center;
}

.promo-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	margin: 0;
	padding: 0;

	list-style: none;
}

.availability {
	margin-bottom: 20px;
	text-align: center;

	font-family: "Open Sans", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 300;
	color: #ffffff;
}

.features {
	background-image: url("../img/shape-main-bg.png");
	background-position: 0 237px;
	background-repeat: no-repeat;
}

.features-title {
	margin: 0;
	margin-bottom: 77px;
	padding: 0 100px;
	text-align: center;

	font-family: "Open Sans", Arial, sans-serif;
	font-size: 50px;
	line-height: 59px;
	font-weight: 300;
	color: #283645;
}

.features-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	margin: 0;
	padding: 0;

	list-style: none;
}

.features-items li {
	position: relative;

	width: 302px;
	height: 580px;
	margin-bottom: 47px;
	text-align: center;
}

.features-items li::after {
	position: absolute;
	content: "";
	width: 294px;
	height: 17px;
	background-image: url(../img/item-bottom-shadow.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	z-index: 1;
	top: 293px;
	left: 0;
}

.item-bottom {
	position: absolute;
	bottom: 0;
	display: block;
	z-index: 2;

	width: 302px;
	min-height: 279px;
	padding: 0 30px;
	text-align: center;

	line-height: 0;

	box-sizing: border-box;
	background-color: #f2f2f2;
}

.item-name {
	margin-top: 55px;
	margin-bottom: 26px;
	padding: 0 10px;

	font-family: "Open Sans", Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: 700;
	color: #283645;
}

.item-bottom p {
	max-height: 205px;

	line-height: 30px;

	overflow: auto;
}

.descriptions {
	background-color: #f2f2f2;
}

.description-columns {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	padding-bottom: 65px;
}

.description-timer {
	width: 300px;
}

.description-info {
	width: 575px;
}

.description-info h3 {
	margin-top: 94px;
	margin-bottom: 25px;

	font-family: "Open Sans", Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: 700;
	color: #283645;
}

.description-info p {
	margin-bottom: 36px;
	padding-right: 49px;

	line-height: 30px;
}

.description-info a {
	color: #d22856;
	text-decoration: underline;
}

.description-info a:hover {
	color: #283645;
}

.description-info a:active {
	color: rgba(40, 54, 69, 0.3);
}

.info {
	margin-bottom: 68px;
	background-image: url("../img/shape-main-bg2.png");
	background-repeat: no-repeat;
	background-position: left bottom;
}

.info-reviews {
	position: relative;
	margin-bottom: 45px;
	text-align: center;
}

.button-prev,
.button-next {
	position: absolute;
	top: 50%; /*не по макету*/
	width: 22px;
	height: 41px;
	margin: 0;
	background-color: transparent;
	border: none;
	background-image: url(../img/button-prev-next.png);
	background-repeat: no-repeat;
	background-position: center;
}

.button-prev {
	left: 0;
}

.button-prev:disabled {
	cursor: default;
	opacity: 0.5;
}

.button-next {
	right: 0;
	transform: rotate(180deg);
}

.button-prev:hover:not([disabled]),
.button-next:hover {
	background-image: url(../img/button-prev-next-hover.png);
}

.info-reviews::before {
	position: absolute;
	content: "";
	top: 16%;
	left: 46%;
	width: 80px;
	height: 64px;

	background-image: url("../img/quotes.png");
	background-repeat: no-repeat;
}

.reviews-item {
	padding-top: 150px;
}

.opinion {
	margin-bottom: 35px;
	padding: 0 40px;
	line-height: 30px;
}

.reviews-autor {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	font-style: normal;
	color: #283645;
}

.data-autor {
	margin-top: 8px;
}

.info-package {
	padding-top: 150px;
	padding-bottom: 95px;
}

.table-package {
	margin: 0 auto;
	border-collapse: collapse;
}

td {
	width: 235px;
	height: 60px;

	background-color: #ffffff;
	border: 2px solid #e5e5e5;
	box-sizing: border-box;
	empty-cells: hide;
}

.table-header td {
	height: 97px;
	text-align: center;

	background-color: #283645;
	font-size: 23px;
	color: #ffffff;
	text-transform: uppercase;
}

.hit {
	background-image: url(../img/hit.png);
	background-repeat: no-repeat;
	background-position: top left;
}

.table-package b {
	display: block;
	font-size: 18px;
}

.packet {
	padding-left: 21px;
}

.included {
	background-image: url("../img/yes.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.not-included {
	background-image: url("../img/no.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.communications-title {
	padding: 0 120px;
	text-align: center;

	font-family: "Open Sans", Arial, sans-serif;
	font-size: 50px;
	line-height: 59px;
	font-weight: 300;
	color: #283645;
}

.communications-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	text-align: center;

	margin: 0;
	padding: 0;
	list-style: none;
}

.communications-items h3 {
	margin-top: 3px;

	font-family: "Open Sans", Arial, sans-serif;
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #283645;
}

.communications-items p {
	display: block;
	width: 230px;
	margin: 22px;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 24px;
	line-height: 28px;
	font-weight: 300;
	color: #d22856;
}

.live-map {
	position: relative;
	max-width: 1200px;
	height: 501px;
	margin: 0 auto;

	background-color: #e9e5dc;
	background-image: url(../img/map-marker.png),url("../img/map.png");
	background-repeat: no-repeat;
	background-position: 50% 56%,-606px -278px;
}

.live-map::before {
	position: absolute;
	content: "";
	width: 1200px;
	height: 123px;
	background-image: url("../img/communications-bottom.png");
	background-repeat: no-repeat;
	top: -21px;
	left: 0;
}


/*==============================STYLES FOOTER==============================*/
.main-footer {
	margin: 70px 0;
}

.main-footer .container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.main-footer-logo {
	width: 147px;
	height: 40px;
	margin: 0;
}

.footer-social {
	width: 190px;
}

.social-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	width: 190px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.social-button {
	display: flex;
	align-items: center;
	justify-content: center;

	margin-top: 3px;
	width: 52px;
	height: 52px;
	border: 3px solid #e9ebec;
	border-radius: 50%;
	box-sizing: border-box;
	background-color: transparent;
}

.button-twitter {
	background-image: url("../img/twitter.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.button-facebook {
	background-image: url("../img/facebook.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.button-youtube {
	background-image: url("../img/youtube.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.social-button:hover {
	border-color: #d22856;
	transition: 0.5s ease-in-out;

	animation: roll 2s infinite;
	transform: rotate(30deg);
}

@keyframes roll {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.footer-copyright {
	margin: 0;
	padding: 0;
	width: 155px;
	min-height: 55px;
}

.htmlacademy-button {
	position: relative;
	width: 27px;
	height: 34px;
}

.htmlacademy-button::after {
	position: absolute;
	content: "";
	width: 37px;
	height: 50px;
	background-image: url(../img/htmlacademy.png);
	background-repeat: no-repeat;
	background-position: 10px 15px;
}


/*==============================STYLES INNER-PAGE==============================*/
.inner-page {
	background-color: #ffffff;
}

.inner-header {
	padding-bottom: 101px;

	background-image: url("../img/main-bg.jpg");
	background-size: 1200px auto;
	background-position: top center;
	background-repeat: no-repeat;
}

.inner-navigation {
	display: flex;
	justify-content: space-around;
	width: 1200px;
	padding:0;

	font-size: 18px;
	line-height: 18px;
	color: #ffffff;

	background-color: rgba(0, 0, 0, 0.3);
}

.inner-header .promo-title {
	margin: 0 430px;
	margin-top: 65px;
}


/*==============================STYLES INNER-CONTENT==============================*/
.inner-content {
	width: 1200px;
	margin: 0 auto;
	padding: 0;
}

.panorama {
	margin-bottom: 50px;
}

.panorama-post {
	margin: 92px 300px;
	margin-bottom: 88px;
	text-align: center;

	line-height: 30px;
}

.panorama-label {
	position: relative;
}

.panorama-label::before {
	content: "Панорама дня";
	position: absolute;
	top: 202px;
	left: 931px;

	width: 140px;
	height: 36px;
	text-align: center;

	font-family: "Open Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 34px;
	font-weight: normal;
	text-transform: uppercase;
	color: #ffffff;

	background-color: #d22856;
	border-radius: 2px;
}

.users-post {
	padding: 0;
	background-color: #f2f2f2;
}

.panorama-image {
	margin: 0;
	padding: 0;
	max-height: 506px;
}

.users-note {
	margin: 0;
	padding: 24px 28px;
}

.users-name {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	font-style: normal;
	color: #283645;
}

.users-note-time {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	color: #283645;
}

.users-text {
	margin: 0;

	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	color: #283645;
}



.users-note {
	position: relative;
}

.likes-text {
	position: absolute;
	top: 25px;
	right: 86px;

	font-family: "Open Sans", Arial, sans-serif;
	font-size: 12px;
	line-height: 24px;
	font-weight: normal;
	text-transform: uppercase;
	color: #d22856;
}

.likes-number {
	position: absolute;
	top: 25px;
	right: 62px;

	font-family: "Open Sans", Arial, sans-serif;
	font-size: 12px;
	line-height: 24px;
	font-weight: normal;
	color: #d22856;
}

.likes-heart {
	position: absolute;
	top: 29px;
	right: 32px;

	width: 14px;
	height: 14px;

	background-image: url(../img/icon-heart.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.likes-heart:hover,
.likes-heart:focus {
	background-image: url(../img/icon-heart-hover.svg);
}

.photo-gallery-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	margin: 0;
	padding: 0;
	list-style: none;
}

.photo-gallery-items li {
	position: relative;
	width: 300px;
	height: 555px;
	margin-bottom: 54px;

	background-color: #f2f2f2;
}

.gallery-description {
	position: absolute;
	bottom: 0;
	left: 0;

	width: 300px;
	height: 155px;

	background-color: #f2f2f2;
}

.gallery-users-note {
	position: relative;
}

.gallery-users-note .users-text {
	max-height: 50px;
	overflow: auto;
}

.gallery-users-note .likes-text {
	top: 109px;
	left: 28px;
}

.gallery-users-note .likes-number {
	top: 109px;
	left: 98px;
}

.gallery-users-note .likes-heart {
	top: 113px;
	right: 31px;
}

